* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
body, p, h1, h2, h3, h4, h5, h6, img, video {
	margin: 0;
	padding: 0;
}
body main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
}
body main .viewArea {
	position: relative;
	width: 100%;
	background: black;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
body main .viewArea .mirrorVideo {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	max-width: 100%;
	-webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
}
body main .viewArea .playingVideo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
	-webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
}
body main .controlArea {
	background: lightgray;
	width: 100%;
	height: 224px;
	height: 14rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 8px;
	padding: 0 0.5rem;
}
body main .controlArea .toolbar {
	// border: 1px solid;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
body main .controlArea .toolbar > div {
	// border: 1px solid;
	width: calc(14.28571vw - 0.14286rem);
	height: 100%;
	color: #565656;
}
body main .controlArea .toolbar > div.selectView {
	width: calc(57.14284vw - 0.57144rem);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
body main .controlArea .toolbar > div.selectView .videoContainer {
	width: 100%;
	height: calc(14.28571vw - 0.14286rem);
	background: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
body main .controlArea .toolbar > div.selectView .videoContainer .message {
	text-align: center;
	width: 100%;
	font-size: calc(8.57143vw - 0.08572rem);
}
body main .controlArea .toolbar > div.selectView .videoContainer > video {
	height: 100%;
	background: gray;
}
body main .controlArea .toolbar > div.selectView .videoContainer .info {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin: auto 4.8px;
	margin: auto 0.3rem;
}
body main .controlArea .toolbar > div.selectView .videoContainer .info p {
	text-align: center;
}
body main .controlArea .toolbar > div.overlaySlider {
	width: calc(71.42855vw - 0.7143rem);
	background: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
body main .controlArea .toolbar > div.overlaySlider .mirrorIcon {
	padding: 16px 8px;
	padding: 1rem 0.5rem;
	height: calc(14.28571vw - 0.14286rem);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
body main .controlArea .toolbar > div.overlaySlider .videoIcon {
	padding: 16px 8px;
	padding: 1rem 0.5rem;
	height: calc(14.28571vw - 0.14286rem);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
body main .controlArea .toolbar > div.overlaySlider .sliderBox {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
body main .controlArea .toolbar > div.overlaySlider .sliderBox .slider {
	width: 100%;
	height: calc(14.28571vw - 0.14286rem);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
body main .controlArea .toolbar > div.overlaySlider .sliderBox .slider .bar {
	background: lightgray;
	height: calc(4.28571vw - 0.04286rem);
}
body main .controlArea .toolbar > div.overlaySlider .sliderBox .slider .bar .progress {
	background: gray;
	width: 50%;
	height: 100%;
}
body main .controlArea .toolbar > div.overlaySlider .mirror {
	background: #565656;
	width: calc(6.42857vw - 0.06429rem);
	height: calc(6.42857vw - 0.06429rem);
	-webkit-mask-image: url(mirror.svg);
	        mask-image: url(mirror.svg);
}
body main .controlArea .toolbar > div.overlaySlider i {
	font-size: calc(5.71428vw - 0.05714rem);
}
body main .controlArea .toolbar > div[disabled] {
	color: #9a9a9a;
}
body main .controlArea .toolbar > div .iconBox {
	width: 100%;
	height: calc(14.28571vw - 0.14286rem);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
body main .controlArea .toolbar > div .iconBox i {
	font-size: calc(11.42857vw - 0.11429rem);
}
body main .controlArea .toolbar > div .iconBox i.fa-circle {
	color: red;
}
body main .controlArea .toolbar > div .iconBox i.fa-stop {
	color: red;
}
body main .controlArea .toolbar > div .iconBox > div {
	width: 80%;
	height: 80%;
	background: #565656;
	background: red;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}