$controlAreaHeight: 14rem;
$controlAreaPaddingSide: 0.5rem;
$toolbarHeight: 4rem;

* {
	box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, h6, img, video {
	margin: 0;
	padding: 0;
}

body {
	& main {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		& .viewArea {
			width: 100%;
			background: black;
			flex-grow: 1;
			display: flex;
			& > video {
				flex-grow: 1;
				max-width: 100%;
				transform: scaleX(-1);
			}
		}
		& .controlArea {
			$controlAreaColor: lightgray;
			background: $controlAreaColor;
			width: 100%;
			height: $controlAreaHeight;
			display: flex;
			padding: 0 $controlAreaPaddingSide;
			$controlAreaWidth: calc(100vw - 2 * $controlAreaPaddingSide);
			$unit: calc($controlAreaWidth / 7);
			& .toolbar {
				// border: 1px solid;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: space-between;
				& > div {
					// border: 1px solid;
					width: $unit;
					height: 100%;
					$iconColor: #565656;
					color: $iconColor;
					&.selectView {
						width: calc($unit * 4);
						display: flex;
						& .videoContainer {
							width: 100%;
							height: $unit;
							background: white;
							display: flex;
							& > video {
								height: 100%;
								background: gray;
							}
							& .info {
								flex-grow: 1;
								margin: auto 1rem;
							}
						}
					}
					&.overlaySlider {
						width: calc($unit * 5);
						background: white;
						display: flex;
						& .mirrorIcon {
							padding: 1rem 0.5rem;
							height: $unit;
							display: flex;
							justify-content: center;
							align-items: center;
						}
						& .videoIcon {
							padding: 1rem 0.5rem;
							height: $unit;
							display: flex;
							justify-content: center;
							align-items: center;
						}
						& .sliderBox {
							flex-grow: 1;
							& .slider {
								width: 100%;
								height: $unit;
								display: flex;
								flex-direction: column;
								justify-content: center;
								& .bar {
									background: lightgray;
									height: calc($unit * 0.3);
									& .progress {
										background: gray;
										width: 50%;
										height: 100%;
									}
								}
							}
						}
						& .mirror {
							background: $iconColor;
							width: calc($unit * 0.45);
							height: calc($unit * 0.45);
							mask-image: url(mirror.svg);
						}
						& i {
							font-size: calc($unit * 0.4);
						}
					}
					&[disabled] {
						color: #9a9a9a;
					}
					& .iconBox {
						width: 100%;
						height: $unit;
						display: flex;
						justify-content: center;
						align-items: center;
						& i {
							font-size: calc($unit * 0.8);
							&.fa-circle {
								color: red;
							}
							&.fa-stop {
								color: red;
							}
						}
						& > div {
							width: 80%;
							height: 80%;
							background: $iconColor;
							background: red;
							border-radius: 50%;
							display: flex;
							justify-content: center;
							align-items: center;
						}
					}
				}
			}
		}
	}
}